# Group 1 - Project 1
## Data Visualizations

In [1]:
# Overview of plots
# ---Explanation---

## Line graph: Fed Funds vs Time
## Line graphs: Overall Index Valuation vs Time
## Line graph: Index Value Growth Rate vs Time
## Line graph: Fed Funds Rate 
## Box Plot: 
## Regression Line
## Correlation Coefficient

In [2]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import scipy.stats as st
from scipy.stats import linregress
import requests
import json
import pprint
from FedConfig import api_key

In [5]:
# Import Data from G1P1 Analysis notebook

# Import Fed Funds data csv
fed_path = 'resources/FEDFUNDS.csv'
fed_df = pd.read_csv(fed_path, encoding = 'UTF-8')

# Change Data Type
fed_df['DATE'] = pd.to_datetime(fed_df['DATE'])
fed_df.rename(columns={'DATE':'Date','FEDFUNDS':'Fed Funds Rate'}, inplace=True)

# Preview Fed Funds data
fed_df

          Date  Fed Funds Rate
0   1954-07-01            0.80
1   1954-08-01            1.22
2   1954-09-01            1.07
3   1954-10-01            0.85
4   1954-11-01            0.83
..         ...             ...
818 2022-09-01            2.56
819 2022-10-01            3.08
820 2022-11-01            3.78
821 2022-12-01            4.10
822 2023-01-01            4.33

[823 rows x 2 columns]

In [11]:
# Import combined index csv
combined_index_path = 'resources/combined_index_df.csv'
ci_df = pd.read_csv(combined_index_path, encoding = 'UTF-8')
ci_df

,Date,Fed Funds Rate,NASDAQ Value,S&P 500 Value,DowJones Value,NASDAQ Percent Change,S&P 500 Percent Change,DowJones Percent Change,Fed Funds Rate Percent Change
0,2013-04-01,0.15,3251.351818,1570.70,14675.91,0.46922,1.28146,1.78698,7.14286
1,2013-05-01,0.11,3440.375455,1639.84,15172.18,5.81369,4.40188,3.38154,-26.66667
2,2013-06-01,0.09,3416.741500,1618.77,15035.75,-0.68696,-1.28489,-0.89918,-18.18182
3,2013-07-01,0.09,3559.710909,1668.68,15390.21,4.18438,3.08277,2.35743,0.00000
4,2013-08-01,0.08,3639.928636,1670.09,15195.35,2.25349,0.08499,-1.26615,-11.11111
...,...,...,...,...,...,...,...,...,...
113,2022-09-01,2.56,11402.850000,3850.52,30649.56,-9.28708,-7.40743,-7.14946,9.87124
114,2022-10-01,3.08,10801.494286,3726.05,30570.68,-5.27373,-3.23254,-0.25735,20.31250
115,2022-11-01,3.78,10973.638095,3917.49,33417.96,1.59370,5.13782,9.31374,22.72727
116,2022-12-01,4.10,10838.995714,3912.38,33482.26,-1.22696,-0.13038,0.19241,8.46561
117,2023-01-01,4.33,11013.991000,3960.66,33656.00,1.61450,1.23392,0.51891,5.60976

In [12]:
# Import combined index csv
combined_percentchange_path = 'resources/combined_index_df.csv'
cpc_df = pd.read_csv(combined_percentchange_path, encoding = 'UTF-8')
cpc_df

,Date,Fed Funds Rate,NASDAQ Value,S&P 500 Value,DowJones Value,NASDAQ Percent Change,S&P 500 Percent Change,DowJones Percent Change,Fed Funds Rate Percent Change
0,2013-04-01,0.15,3251.351818,1570.70,14675.91,0.46922,1.28146,1.78698,7.14286
1,2013-05-01,0.11,3440.375455,1639.84,15172.18,5.81369,4.40188,3.38154,-26.66667
2,2013-06-01,0.09,3416.741500,1618.77,15035.75,-0.68696,-1.28489,-0.89918,-18.18182
3,2013-07-01,0.09,3559.710909,1668.68,15390.21,4.18438,3.08277,2.35743,0.00000
4,2013-08-01,0.08,3639.928636,1670.09,15195.35,2.25349,0.08499,-1.26615,-11.11111
...,...,...,...,...,...,...,...,...,...
113,2022-09-01,2.56,11402.850000,3850.52,30649.56,-9.28708,-7.40743,-7.14946,9.87124
114,2022-10-01,3.08,10801.494286,3726.05,30570.68,-5.27373,-3.23254,-0.25735,20.31250
115,2022-11-01,3.78,10973.638095,3917.49,33417.96,1.59370,5.13782,9.31374,22.72727
116,2022-12-01,4.10,10838.995714,3912.38,33482.26,-1.22696,-0.13038,0.19241,8.46561
117,2023-01-01,4.33,11013.991000,3960.66,33656.00,1.61450,1.23392,0.51891,5.60976

### Line Graph: Fed Funds Rate

---Explanation--

### Line Graph: Fed Funds vs Time

---Explanation--

### Line Graphs: Overall Index Valuation vs Time

---Explanation--

## Line Graphs: NASDAQ Index Valuation vs Time

### Line Graph: Index Value Growth Rate vs Time

---Explanation--

## Fed Funds vs NASDAQ (% change monthly plot)

---Explanation---

### Box Plot:

---Explanation--

### Regression Plot Line

---Explanation--

### Correlation Coefficient

---Explanation--

## P-Value

---Explanation--

## Summary

---Explanation--